.MP__popup {
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 5000;
    width: 100%;
    height: 100%;
}

.MP__popup.open {
    display: flex;
    align-items: center;
    justify-content: center;
}

.MP__wrap {
    font-family: "SCoreDream";
    width: 720px;
    box-sizing: border-box;
    border-radius: 20px;
    background: #fff;
    padding: 75px 100px 50px;
    position: relative;
}

.MP__header {
    padding-bottom: 40px;
    text-align: center;
}

.MP__popup__title {
    display: inline-block;
    font-size: 48px;
    font-weight: 400;
    color: #000;
    padding-bottom: 40px;
}

.MP__popup__desc {
    font-size: 20px;
    font-weight: 400;
}

.MP__Popup__button {
    display: flex;
    justify-content: space-evenly;
}

.MP__Popup__main {
    width: 184px;
    height: 80px;
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid #000;
    font-weight: 500;
    font-size: 24px;
    cursor: pointer;
}

.MP__Popup__secession {
    width: 184px;
    height: 80px;
    border-radius: 10px;
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    font-weight: 500;
    font-size: 24px;
    cursor: pointer;
}

/* 미디어쿼리 */
@media (max-width: 820px) {
    /* .MP__wrap {
        width: 90%;
        padding: 75px 20px 50px;
    }
    .MP__footer .join__btn a {
        width: 82px;
        font-size: 13px;
    }
    .popup__close {
        left: 40%;
    } */
    #MPPopup {
        display: none;
    }
    #MPPage {
        display: block;
    }
    #MPPage .popupMobile {
        transition: all 0.3s;
        max-width: 500px;
        margin: 0 auto;
        padding: 0 20px;
    }
    #MPPage .MP__header {
        margin-top: 180px;
    }
    #MPPage .MP__header .popup__title {
        margin-bottom: 40px;
    }
    .MP__footer .join__btn a {
        width: 140px;
    }
    #MPPage .MP__footer {
        margin-bottom: 120px;
    }
}

@media (max-width: 480px) {
    #MPPage .popupMobile {
        max-width: 90%;
    }
    .MP__footer .join__btn a {
        font-size: 14px;
        width: 90px;
    }
}
