.MP__container {
    max-width: 1200px;
    padding: 0 20px;
    margin: 180px auto;
}

.MP__page__w__container {
    max-width: 1200px;
    padding: 0 20px 1206px 20px;
    margin: 0 auto;
}
/* MP__left */
.MP__page__w__left {
    width: 10rem;
    float: left;
}

.MP__title {
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 13px;
    border-bottom: 2px solid #000;
}

.MP__menu {
    margin: 0;
    padding: 0;
}

.MP__menu__main {
    display: block;
    padding: 30px 0;
    border-bottom: 1px solid #d9d9d9;
    font-size: 18px;
    font-weight: 300;
}

.MP__menu__main__area {
    border-bottom: 2px solid #000;
}

.MP__menu__main__area.b_n {
    border-bottom: none;
}

.MP__menu__main__sub {
    display: block;
    padding: 26px 0;
    color: #999;
    font-weight: 300;
}

/* MP__right */
.MP__page__w__right {
    width: calc(100% - 13.625rem);
    float: right;
}

.MP__page__w__current__home {
    position: relative;
    bottom: 30px;
    display: flex;
    right: 0px;
    align-items: center;
    justify-content: flex-end;
}

.MP__if__right__title {
    font-size: 30px;
    font-weight: 500;
    padding-bottom: 13px;
    border-bottom: 2px solid #000;
}

/* board */
.MP__page__w__contents__topBox {
    display: flex;
}
.MP__page__w__talk__table {
    width: 100%;
    border-spacing: 0px;
    border-collapse: collapse;
    font-family: "scoredream";
    font-weight: 400;
    font-style: normal;
}
.MP__page__w__comment {
    border-bottom: 1px dashed #efefef;
    box-sizing: border-box;
    padding: 21px 0;
}
.MP__page__w__comment .profile {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #e5e5e5;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 15px;
    float: left;
}
.MP__page__w__comment .contents {
    float: left;
    width: 90%;
}
.MP__page__w__comment .contents .MP__page__w__contents__top {
    display: flex;
    margin: 5px 0;
}
.MP__page__w__comment .contents .contents__top .name {
    font-weight: 500;
    font-size: 16px;
    color: #000;
}
.MP__page__w__comment .contents .contents__top .date {
    font-weight: 300;
    font-size: 16px;
    color: #b0b0b0;
    padding: 0 5px;
}
.MP__page__w__comment .contents .contents__top .modify {
    font-weight: 300;
    font-size: 16px;
    color: #b0b0b0;
    padding: 0 5px 0 0;
}
.MP__page__w__comment .contents .contents__top .remove {
    font-weight: 300;
    font-size: 16px;
    color: #b0b0b0;
}
.MP__page__w__comment .contents .MP__page__w__contents__bottom {
    font-weight: 300;
    font-size: 14px;
    color: #000;
}
.comment_1 .profile {
    background-image: url(../img/my_pa_img.jpg);
}

.MP__page__w__comment .heart {
    float: right;
}
.MP__page__w__comment .heart p {
    font-weight: 300;
    font-size: 12px;
    text-align: center;
}
.MP__page__w__talk__board .MP__page__w__talk__table tbody tr {
    transition: all 0.3s ease-in-out;
}

.MP__page__w__talk__board .MP__page__w__talk__table tbody tr td:nth-child(2) {
    text-align: left;
}
.MP__page__w__talk__board .MP__page__w__talk__table tbody tr td {
    /* border-bottom: 1px dashed #e6e6e6; */
    font-size: 16px;
    color: #000;
}
.MP__page__w__talk__board .MP__page__w__talk__table tbody tr td a {
    color: #000;
}
